[submodule "RxCore"]
	path = RxCore
	url = https://github.com/Noctonyx/RxCore.git
[submodule "RxECS"]
	path = RxECS
	url = https://github.com/Noctonyx/RxECS.git
[submodule "RxEngine"]
	path = RxEngine
	url = https://github.com/Noctonyx/RxEngine.git
[submodule "extern/sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/walterschell/Lua
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/shanehyde/freetype
[submodule "extern/RmlUi"]
	path = extern/RmlUi
	url = https://github.com/Noctonyx/RmlUi.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "extern/bitsery"]
	path = extern/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "extern/dxmath"]
	path = extern/dxmath
	url = https://github.com/microsoft/DirectXMath.git
